@import "var"; 

.wrapper {
    display: flex;
    margin: 0 auto;
    width: 665px;
    height: 480px;
    margin-top: 22vh;
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.animation {
    position: absolute;
    top: 35px;
    left: -160px;
}

#backgroundrect {
    opacity: 0;
}

.form-wrapper {
    max-width: 527px;
    padding: 38px 22px 32px 20px;
    position: relative;
    z-index: 100;

    &__title {
        font-family: $font-workSans;
        color: $black;
        font-weight: $regular;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: -0.2px;
        margin: 0;
    }

    &__subtitle {
        font-family: $font-workSans;
        color: $black;
        font-weight: $regular;
        font-size: 14px;
        line-height: 16.41px;
        margin: 0;
        margin-bottom: 20px;
        letter-spacing: -0.3px;
    }

    .line {
        display: flex;
        margin-bottom: 19.18px;
    }

    .gender {
        &-text {
            font-family: $font-workSans;
            color: $black;
            font-weight: $regular;
            font-size: 14px;
            line-height: 16.41px;
            &__left {
                margin-right: 17px;
            }
        }

        &-input {
            font-family: $font-workSans;
            color: $black;
            font-weight: $regular;
            font-size: 14px;
            line-height: 16.41px;
            border: 0px;
            border-bottom: 1px solid $light-gray;
            margin: 0;
        }

        p {
            font-family: $font-workSans;
            color: $gray;
            font-weight: $regular;
            font-size: 12px;
            line-height: 14px;
            margin: 0;
            margin-bottom: 6.3px;
        }

        
    }

    .label {
        font-family: $font-workSans;
        color: $gray;
        font-weight: $regular;
        font-size: 12px;
        line-height: 14px;
        display: block; 
        margin-bottom: 5px;
    }

    .input {
        width: 234px;
        font-family: $font-workSans;
        color: $black;
        font-weight: $regular;
        font-size: 14px;
        line-height: 16.41px;
        border: 0px solid;
        border-bottom: 1px solid $light-gray;
        display: block;
        background: transparent;

        &:focus {
            color:#FF2828;
            border-bottom: 1px solid #FF2828;
        }
    }

    .input:active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
    }

    .block {
        width: 234px;
        margin-right: 15px;
    }

    .select {
        font-family: $font-workSans;
        color: $black;
        font-weight: $regular;
        font-size: 14px;
        line-height: 16.41px;
        border: 0;
        border-bottom: 1px solid $light-gray;
        margin-right: 3.8px;
        background: transparent;
    }

    .question {
        display: flex;

        p {
            margin: 0;
        }
    }

    .birthDay-block {
        font-family: $font-workSans;
        color: $gray;
        font-weight: $regular;
        font-size: 12px;
        line-height: 14px;

        p {
            margin: 0;
            margin-bottom: 5.3px;
        }
    }

}

#selectDay {
    width: 56px;
}

#selectMonth {
    width: 91px;
    overflow: scroll;
}

#selectYear{
    width: 67px;
}

.nationality {
    overflow: scroll;
    width: 234px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-workSans;
    font-weight: 200;
    font-size: 13px;
    line-height: 15.25px;
    color: #000;
    margin-top: 103px;

    a {
        color: #5A61ED;
    }

    button {
        width: 154px;
        height: 32px;
        font-family: $font-ptSans;
        font-size: 14px;
        line-height: 18.12px;
        text-align: center;
        background-color: #5A61ED;
        color: $white;
        border: 0;
        &:hover {
            cursor: pointer;
        }
    }
}

// animation elemnts
.aos{
    visibility: hidden;
}

.up {
    visibility: visible;
    position: relative;
    bottom: -60px;
    transition: transform 0.2s ease-in-out;
    transform: translate3d(0px, -60px, 0px);
}