// font-family
$font-workSans: 'Work Sans', sans-serif;
$font-ptSans: 'PT Sans', sans-serif;

// font-weigth
$regular: 400;
$bold: 700;

// color
$white: #fff;
$black: #111111;
$gray: #7C7C7C;
$light-gray: #F2F2F2;
