extends layout/app

block wrapper 
    div.wrapper
        div.block-right 
            div.form-name 
                h1 Sign up

        div.form-wrapper
            h2.form-wrapper__title New user?

            h3.form-wrapper__subtitle Use the form below to create your account.
            form(action='/').form

            div.line
                div.block
                    label.label(for="first-name") First Name
                    input.frst-name.input(type='text' id='first-name' placeholder='Alice')
                div.block
                    label.label(for="second-name") Last Name
                    input.second-name.input(type='text' id='second-name' placeholder='Miller')

            div.line
                div.block
                    label.label(for="nationality") Nationality 
                    input.nationality.input(type='text' id='nationality' placeholder='American')
                div.block
                    label.label(for="email") E-mail
                    input.email.input(type='email' id='email' placeholder='alice.miller@yahoo.com')

            div.line
                div.block.birthDay-block
                    p Date of Birth 
                    select.select#selectDay(name="select")
                    select.select#selectMonth.selectMonth(name="select")
                    select.select#selectYear(name="select")

                div.gender
                    p Gender
                    input.male.gender-input(type="radio" name="checkbox" value="value" id="male")
                    label.gender-text(for="male") Male
                    input.female.gender-input(type="radio" name="checkbox" value="value" id="female")
                    label.gender-text(for="female") Female

            div.line
                div.block
                    input.passsword.input(type="password" id="passsword" name="password" value="")
                    label.label(for="password") Password
                div.block
                    input.confirmpassword.input(type="password" id="confirmPassword" name="confirmPassword" value="")
                    label.label(for="confirmPassword") Confirm Password
            footer
                 div.question
                    p Have an account?
                    a(href="#") Login

            