extends layout/app

block page 
    include chunk/header

    h1.title Main 

    h2 hello world
    
    img(srcset='img/2.png', alt='абстракция', width='500')

    div.background

    ul.news 
        each item in news 
            li= item.name

    include chunk/footer