extends layout/app

block wrapper 
    div.wrapper
        div.block-right 
            h1.form-name Sing up

        div.form-wrapper
            h2.from-wrapper__title New user?

            h3.form-wrapper__subtitle Use the form below to create your account.
            form(action='/').form
                include chunk/header

                include chunk/footer