extends layout/app

block page 
    include chunk/header

    h1.title Main 

    h2 hello world

    img(src="img/2.png", alt='Таам Кенч' width="500")

    ul.news 
        each item in news 
            li= item.name

    include chunk/footer