extends layout/app

block wrapper 
    div.wrapper
        
        div.block-right 
            div.form-name 
                h1 Sign up

        div.form-wrapper
            h2.form-wrapper__title New user?

            h3.form-wrapper__subtitle Use the form below to create your account.
            form(action='/').form

            div.line
                div.block
                    label.label(for="first-name") First Name
                    input.frst-name.input(type='text' id='first-name' placeholder='Alice')
                div.block
                    label.label(for="second-name") Last Name
                    input.second-name.input(type='text' id='second-name' placeholder='Miller')

            div.line
                div.block
                    label.label(for="selectNat") Nationality 
                    select.select.nationality#selectNat(name="select")
                div.block
                    label.label(for="email") E-mail
                    input.email.input(type='email' id='email' placeholder='alice.miller@yahoo.com')

            div.line
                div.block.birthDay-block
                    p Date of Birth 
                    select.select#selectDay(name="select")
                    select.select#selectMonth.selectMonth(name="select")
                    select.select#selectYear(name="select")

                div.gender
                    p Gender
                    input.male.gender-input(type="radio" name="checkbox" value="value" id="male")
                    label.gender-text.gender-text__left(for="male") Male
                    input.female.gender-input(type="radio" name="checkbox" value="value" id="female")
                    label.gender-text(for="female") Female

            div.line
                div.block
                    label.label(for="password") Password
                    input.passsword.input(type="password" id="password" name="password" value="")
                div.block
                    label.label(for="confirmPassword") Confirm Password
                    input.confirmpassword.input(type="password" id="confirmPassword" name="confirmPassword" value="")
            footer
                div.question
                    p Have an account?
                    a(href="#") Login
                div.button-block 
                    button Complete Signup
        div.animation#my-svg-id
            <svg id="my-svg" xmlns="http://www.w3.org/2000/svg" xmlns:se="http://svg-edit.googlecode.com" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="1900px" height="1600px" viewBox="0 0 1000 1000">                                    <title>my vector image</title>                                    <!-- Created with Vector Paint - http://www.vectorpaint.yaks.com/ https://chrome.google.com/webstore/detail/hnbpdiengicdefcjecjbnjnoifekhgdo -->                                    <rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="#FFFFFF" stroke="none"/>                                <g class="currentLayer" style=""><title>Layer 1</title><path fill="transparent" fill-opacity="1" stroke="#f9faff" stroke-opacity="1" stroke-width="17" stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" d="M241.86986398447624,183.73243927303741 C241.86986398447624,117.28937142965103 295.377789054917,63.47048647650808 361.4369558085474,63.47048647650808 C427.49612256217796,63.47048647650808 481.0040476326185,117.28937142965103 481.0040476326185,183.73243927303741 C481.0040476326185,250.17550711642383 427.49612256217796,303.9943920695668 361.4369558085474,303.9943920695668 C295.377789054917,303.9943920695668 241.86986398447624,250.17550711642383 241.86986398447624,183.73243927303741 z" id="svg_1" class="selected"/><path fill="transparent" fill-opacity="1" stroke="#f9faff" stroke-opacity="1" stroke-width="17" stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" d="M334.955477401256,143.56849213295538 C334.955477401256,128.4933775269855 347.19543927120094,116.2825346961499 362.30650330817,116.2825346961499 C377.41756734513916,116.2825346961499 389.6575292150841,128.4933775269855 389.6575292150841,143.56849213295538 C389.6575292150841,158.64360673892529 377.41756734513916,170.8544495697609 362.30650330817,170.8544495697609 C347.19543927120094,170.8544495697609 334.955477401256,158.64360673892529 334.955477401256,143.56849213295538 z" id="svg_2" class=""/><path fill="transparent" fill-opacity="1" stroke="#f9faff" stroke-opacity="1" stroke-width="17" stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" d="M289.959574435404,269.8809999911977 C289.959574435404,231.000255677457 322.64785535065255,199.50685278332716 363.003757715157,199.50685278332716 C403.3596600796614,199.50685278332716 436.0479409949099,231.000255677457 436.0479409949099,269.8809999911977 C436.0479409949099,308.7617443049383 403.3596600796614,340.2551471990683 363.003757715157,340.2551471990683 C322.64785535065255,340.2551471990683 289.959574435404,308.7617443049383 289.959574435404,269.8809999911977 z" id="svg_4" class="" filter=""/><path fill="transparent" fill-opacity="1" stroke="#f9faff" stroke-opacity="1" stroke-width="23" stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" d="M451,277 C451,277 451,277 451,277 C451,277 451,277 451,277 C451,277 451,277 451,277 C451,277 451,277 451,277 Z" id="svg_5"/></g><defs><filter id="f001" inkscape:label="Matte jelly" x="0" y="0" width="1" height="1" inkscape:menu="ABCs" inkscape:menu-tooltip="Bulging, matte jelly covering" color-interpolation-filters="sRGB"><feColorMatrix values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0.85 0" result="result0" in="SourceGraphic"/><feGaussianBlur in="SourceAlpha" stdDeviation="7"/><feSpecularLighting surfaceScale="5" specularConstant=".9" specularExponent="25"><feDistantLight elevation="60" azimuth="225"/></feSpecularLighting><feComposite operator="atop" in2="result0"/></filter></defs></svg>
            
            


            
            